#Ignore __pycache__
__pycache__
.vscode

#For now, ignore printed figures
Figures
*.dot 
*.png
#including dot files

#Gave up on those files
GenerateComponentsForBig.py
BigExamplesGen.py

#Stuff manuelly moved to the side
trash